E2B_API_KEY=
GITHUB_TOKEN=
E2B_DOMAIN=e2b.app
E2B_TEMPLATE=devbox-dev
E2B_TERMINAL_PORT=7681
E2B_SANDBOX_TIMEOUT_MS=3600000
E2B_TEMPLATE_CPU_COUNT=2
E2B_TEMPLATE_MEMORY_MB=4096
E2B_SSH_USER=user
E2B_SSH_PROXY_PORT=2222
E2B_SSH_PUBLIC_KEY_PATH=~/.ssh/id_ed25519.pub
